{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}-Saison #{{ season.number }}-Episode #{{ episode.number }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{ asset("build/images/#{program.poster}") }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Episode {{ episode.number }} de la Saison {{ season.number }} de {{ program.title }}</h1>
            <h3>Titre: {{ episode.title }}</h3>
            <p>{{ episode.synopsis }}</p>
        </div>
    </div>
    {% if app.user %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {# {{ form_widget(form.comment) }}
        {{ form_widget(form.rate) }}
        <input type="hidden" name="{{ field_name(form.author) }}" value="{{ app.user.email }}"> #}
        <button type="submit">Add comment</button>
        {{ form_end(form) }}
    {% endif %}
    {% for comment in episode.comments %}
        <p>{{ comment.comment }}</p>
        <p>{{ comment.rate }}</p>
        <p>{{ comment.author.email }}</p>
    {% endfor %}

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}