{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program : <span {{stimulus_controller('symfony/ux-typed', {
        strings: ['Bienvenue sur Wild Series', 'Le meilleur site pour suivre tes séries préférées', 'envie de se faire peur?😱💀', 'de pleurer?😭', 'pleins d\'emotions']
    })}}></span></h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
            {# Lien vers la fiche de la série : #}
            <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('program_new') }}">
        Nouveau programme
    </a>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}