{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}-Saison #{{ season.number }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
            <p>{{ season.desciption }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <h4>Liste des épisodes</h4>
            <ul>
                {% for episode in season.episodes %}
                    <li><a href="{{ path("program_episode_show", {"program_slug":  program.slug , "season": season.id, "episode_slug": episode.slug }) }}">Episode {{ episode.number }} : {{ episode.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}