<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_index') }}">
      <img src="{{ asset('build/images/logo-wild-series.png') }}" alt="" width="150" height="auto" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {# <a class="btn btn-primary btn-lg" href="{{ path('app_index') }}" role="button">Wild Series</a> #}
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MENU
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Acteurs</a></li>
            <li><a class="dropdown-item" href="{{ path('program_index') }}">Séries</a></li>
            <li><a class="dropdown-item" href="#">Favoris</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% if app.user %}
        {{ app.user.email }}
        <a href="{{ path('app_logout') }}"> Se déconnecter</a>
      {% else %}
        <a href="{{ path('app_login') }}"> Se connecter</a>
      {% endif %}
    </div>
  </div>
</nav>